@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('OpenSans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    }

html {
  background-color: #444444;
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0px;
  overflow: hidden;
}
#clock {
  width: 40vw;
  margin: 0px;
  padding: 2vh 0px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 0px;
  left: 20vw;
}
#clock span {
  margin: 0px auto;
  display: block;
}
.welcome {
  font-size: 7vh;
  line-height: 7vh;
  height: 7vh;
}
span#name {
  margin-top: 1vh;
  font-weight: bold;
  margin-bottom: 8vh;
  height: 7vh;
}
#time {
  font-size: 11vh;
  line-height: 11vh;
  height: 11vh;
}
#date {
  font-size: 4vh;
  line-height: 4vh;
  height: 4vh;
}
#coat {
  width: 16vw;
  position: absolute;
  left: 2vw;
  top: 2vw;
}
#twitter-container {
  width: 35vw;
  height: 88vh;
  margin-top: 2vh;
}
#twitter-title {
  color: #ffffff;
  font-size: 1.3vw;
  line-height: 1.3vw;
  top: 4vh;
  left: 63vw;
  margin: 0px;
}
#twitter-frame {
  height: 88vh;
}
#twitter-widget-0 {
  transform: scale(1.25);
  transform-origin: 0 0;
} 
#meme {
  background-color: #ff0000;
  height: 42vh;
  width: 10px;
  margin: 0px;
  margin-left: 20vw;
}
#carousel-bg {
  background: url("img/Cuths.JPG");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 60vw;
}
.carousel-item {
  position: absolute;
  top: 0px;
  left: 60vw;
  transition: left 0.5s ease;
  padding: 4vh 2vw 0px 3vw;
  height: 100vh;
  box-shadow: 0px 0px .5vw 0vw #333333;
}
#carousel1 {
  background-color: #292F33;
}
#carousel2 {
  display: none;
}
