@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('OpenSans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    }

html {
  background-color: #444444;
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0px;
  overflow: hidden;
}
#meme {
  background-color: #ff0000;
  height: 40vh;
  width: 10px;
  margin: 0px;
  margin-left: 50vw;
}
#clock {
  width: 40vw;
  margin: 0px;
  padding: 5vh 0px 2vh 0px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 0px;
  left: 20vw;
}
#clock span {
  margin: 0px auto;
  display: block;
}
.welcome {
  font-size: 6vh;
  line-height: 6vh;
  height: 6vh;
}
span#name {
  margin-top: 1vh;
  font-weight: bold;
  margin-bottom: 5vh;
  height: 6vh;
}
#time {
  font-size: 11vh;
  line-height: 11vh;
  height: 11vh;
}
#date {
  font-size: 4vh;
  line-height: 4vh;
  height: 4vh;
}
#coatcont {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20vw;
  height: 40vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
#coat {
  width: 16vw;
}
#twitter-container {
  width: 35vw;
  height: 88vh;
  margin-top: 2vh;
}
#twitter-title {
  color: #ffffff;
  font-size: 1.3vw;
  line-height: 1.3vw;
  top: 4vh;
  left: 63vw;
  margin: 0px;
}
#twitter-frame {
  height: 88vh;
}
#twitter-widget-0 {
  transform: scale(1.25);
  transform-origin: 0 0;
}
#carousel-bg {
  background: url("img/Cuths.JPG");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 60vw;
}
.carousel-item {
  position: absolute;
  top: 0px;
  left: 60vw;
  transition: left 0.5s ease, box-shadow 0.3s ease;
  padding: 4vh 2vw 0px 3vw;
  height: 100vh;
  width: 40vw;
}
#carousel0 {
  background-color: rgba(41,47,51,0.97);
}
#carousel1 {
  background-color: rgba(0,25.5,0,0.97);
  color: #CCAA00;
}
#carousel2 {
  background-color: rgba(105, 105, 105, 0.97);
}
