body {
    background-color: #888888;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
#poetry-cont {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 100px;
}
#poetry {
    display: inline-block;
    padding: 50px 100px;
    background-color: #666666;
}
#update {
    background-color: #00d2ff;
    color: #666;
    transition: all 0.3s ease;
    padding: 10px 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    border: none;
}
#update:hover {
    background-color: #333;
    color: #00d2ff;
}
#form-cont {
    margin: 0px auto;
    width: 500px;
}
textarea {
    resize: vertical;
    display: block;
    margin-bottom: 30px;
    width: 100%;
}
span {
    text-align: left;
    display: block;
    margin: 5px 0px;
}
#haiku-text {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
a {
    color: #ffffff;
    transition: color 0.3s ease;
}
a:hover {
    color: #00d2ff;
}
