@import url('https://fonts.googleapis.com/css?family=Lato:700');
@font-face {
    font-family: 'CODE';
    src: url("../fonts/CODE Bold.otf");
}
@font-face {
    font-family: "Bahnschrift";
    src: url("../fonts/bahnschrift.ttf");
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}
a {
    color: #fff;
}
html {
    background-color: #333;
    font-family: "Bahnschrift", sans-serif;
    color: #ffffff;
}
body {
    margin: 0px;
}
nav#home-nav {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    border-top: 10px solid #b822e3;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px #444;
    z-index: 3;
    transition: all 0.2s ease;
}
.hcontainer {
    width: 100%;
    padding: 0px;
    margin: 0px auto;
    max-width: 1100px;
}
@media (max-width: 1150px) {
    .hcontainer {
        padding: 0px 20px;
        width: auto;
    }
}
@media (max-width: 900px) {
    nav ul li.nav-btn a {
        font-size: 20px;
        box-shadow: none;
    }
}
@media (max-width: 700px) {
    div.mosaic-row {
        display: block;
    }
    img.mosaic-img, img.mosaic-img-lrg {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }
    nav div ul {
        display: block;
    }
    nav ul li.nav-btn a {
        margin: 0px 2vw;
    }
}
@media (max-width: 575px) {
    nav ul li.nav-btn a {
        font-size: 16px;
        letter-spacing: 0px;
        box-shadow: none;
    }
    nav ul li.nav-btn a:hover {
        box-shadow: none;
    }
    #header h1 {
        font-size: 25px;
    }
    span#headerpurp {
        font-size: 50px;
    }
    nav a img {
        height: 40px;
    }
}
@media (max-width: 450px) {
    nav#home-nav a img {
        height: 40px;
        margin-top: 10px;
        margin-left: 10px;
    }
    nav#home-nav .hcontainer {
        display: block;
    }
    nav#home-nav ul li.nav-btn a {
        font-size: 20px;
        display: block;
        padding: 0px 5px;
    }
    nav#home-nav ul {
        margin: 0px;
        margin-top: 5px;
        display: block;
    }
}
nav .hcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav img {
    height: 50px;
    display: inline;
    border-radius: 5px;
    transition: all 0.7s;
}
nav ul {
    display: table;
    width: 100%;
    padding: 0px 3%;
    list-style-type: none;
    table-layout: fixed;
}
nav li.nav-btn {
    margin: 0px;
    padding: 0px;
    display: table-cell;
    flex: 1 1 auto;
    text-align: center;
}
nav li.nav-btn a {
    display: flex;
    max-width: 150px;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 24px;
    border-radius: 7px;
    height: 40px;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 1px #aaa;
    text-decoration: none;
    letter-spacing: 1px;
}
nav li.nav-btn a:hover {
    color: #b822e3;
    box-shadow: 0px 0px 50px #ccc;
}
.img-inactive {
    filter: grayscale(100%);
}
nav img:hover {
    filter: grayscale(100%);
}
.img-inactive:hover {
    filter: grayscale(0%);
}
#nav-spacer {
    height: 90px;
}
li.nav-btn a {
    color: #4f4f4f
}
li.nav-active a {
    color: #b822e3;
}
#header {
    height: 600px;
    position: relative;
    display: block;
    color: #ffffff;
    background: url("../img/engineersbg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
}
#header h1 {
    padding-top: 200px;
    margin-top: 0px;
    width: 100%;
    text-transform: uppercase;
}
.top-item {
    padding-top: 20px;
}
.top-item.section {
    padding-top: calc(3% + 20px);
}
h1 {
    font-size: 40px;
}
h3 {
    color: #b822e3;
    padding-bottom: 20px;
    font-size: 30px;
}
#headerpurp {
    font-size: 88px;
    color: #b822e3;
}
.section {
    padding: 3% 0px;
    text-align: justify;
    background: #303030;
}
#info {
    background: #333;
}
#workflow {
    background: #2c2c2c;
}
.mosaic-img {
    height: 160px;
}
.mosaic-img-lrg {
    height: 200px;
}
.mosaic-img-l {
    margin-right: 20px;
}
.mosaic-img-r {
    margin-left: 20px;
}
.mosaic-row {
    margin-top: 20px;
    display: flex;
}
.mosaic-paragaph {
    margin: 0px;
    padding: 0px;
}
.section h1 {
    color: #b822e3;
}
.banner {
    height: 120px;
    background-size: cover;
    background-position: center;
}
#contact-banner {
    background: url("../img/typing.jpg");
}
.nopad {
    padding-top: 1%;
}
.contact-info {
    font-size: 18px;
    width: 100%;
}
.contact-info p {
    margin: 0px;
}
.contact-info th {
    vertical-align: top;
    width: 20%;
}
.contact-info td {
    padding-bottom: 15px;
}
nav#footer {
    padding: 2% 0px;
}
#footer ul {
    display: flex;
    align-items: center;
    justify-content:center;
    list-style-type: none;
    padding: 0px;
}
#footer li {
    display: table-cell;
    width: 200px;
}
#footer li#copyright-info {
    width: 500px;
}
#footer p {
    margin: 2px;
}
#footer ul.vert-nav {
    display: block;
    width: 100px;
}
#footer .vert-nav li {
    display: block;
    width: auto;
    font-size: 14px;
    font-weight: 100;
    padding-bottom: 1px;
}
#footer li.vert-header {
    font-size: 16px;
    padding-bottom: 4px;
}
.footer-link {
    transition: all 0.2s;
}
.footer-link:hover {
    color: #b822e3;
}
.filters-tbl tr {
    vertical-align: top;
}
.filters-tbl td {
    padding-top: 5px;
    width: 200px;
}
.filters-tbl ul {
    list-style-type: none;
    padding-left: 5px;
    margin: 3px 0px 0px 0px;
}
.filters-tbl h4 {
    font-size: 20px;
}
.file-form input {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 5px;
    margin-top: 2px;
    border-radius: 3px;
    transition: all 0.5s ease;
}
.file-form input:focus {
    border: 1px solid #b822e3;
    border-radius: 0px;
}
.filters-tbl a {
    cursor: pointer;
    transition: all 0.2s;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.filters-tbl a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}
#next-button a {
    background-color: #b822e3;
    padding: 10px 20px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease;
    display: block;
    float: right;
}
#next-button a:hover {
    color: #b822e3;
    background-color: #ffffff;
}
#banner-404 {
    background: url("../img/404.png");
    height: 200px;
}
#forum-demo-img {
    width: 100%;
    background-color: #2c2c2c;
}
#sub-header {
    background: url("../img/cad2.jpg");
    background-size: cover;
    background-position: center;
    padding: 120px 0px 100px 0px;
    /*background-attachment: fixed;*/
}
#sub-header h1 {
    text-transform: uppercase;
}
.float-panel {
    background-color: rgba(32, 32, 32, .4);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#sub-email {
    display: flex;
    padding: 10px;
    font-size: 30px;
    border-radius: 0px;
    border: 2px solid rgba(255,255,255,0);
    transition: all 0.2s;
}
#sub-email:focus {
    border: 2px solid #b822e3;
}
.float-panel form {
    display: flex;
    margin: 0px;
}
#sub-button {
    display: flex;
    background-color: #b822e3;
    font-size: 20px;
    padding: 19px;
    margin: 0px;
    text-decoration: none;
    border: 2px solid #b822e3;
    transition: all 0.5s ease;
    margin-left: 3%;
}
#sub-button:hover {
    background-color: #ffffff;
    color: #b822e3;
}
#price {
    margin-left: 100px;
    font-size: 40px;
}
#price-time {
    font-size: 20px;
}
#sub-info {
    display: table;
    width: 100%;
    margin: 50px -10px;
    border-spacing: 10px;
}
#sub-edu, #sub-details {
    display: table-cell;
    background-color:  #2c2c2c;
    margin: 5px;
    padding: 10px;
    text-align: justify;
    color: #eee;
}
#sub-edu h2, #sub-details h2 {
    color: #b822e3;
    text-align: center;
}
#sub-edu {
    width: 30%;
    border-radius: 5px 0px 0px 5px;
}
#sub-details {
    width: 70%;
    border-radius: 0px 5px 5px 0px;
}
#edu-img {
    width: 100%;
}
.immersive-row {
    padding: 2%;
}
#immersive-1 {
    background: url("../img/cad3.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#immersive-2 {
    background: url("../img/cad5.png");
    background-size: cover;
    background-attachment: fixed;
}
#immersive-3 {
    background: url("../img/cad4.png");
    background-size: cover;
    background-attachment: fixed;
}
#immersive-4 {
    background: url("../img/cad6.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#immersive-5 {
    background: url("../img/cad7.png");
    background-size: cover;
    background-attachment: fixed;
}
#immersive-6 {
    background: url("../img/cad8.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.immersive-content {
    padding: 1%;
    background-color: rgba(40,40,40,.4);
    text-align: justify;
}
.immersive-content p {
    margin: 1em 0px 0px 0px;
}
.immersive-r {
    margin-left: 30%;
}
.immersive-l {
    margin-right: 30%;
}
#partners-header {
    background: url("../img/art.jpg");
}
#partners-header h1 {
    padding: 5% 0px;
    color: #fff;
    text-align: center;
    background-color: rgba(30, 30, 30, 0.5);
}
#partners-table {
    margin-top: 50px;
    background-color: #444;
    display: table;
    width: 100%;
}
.partners-content {
    display: table-cell;
    padding: 20px;
    width: 50%;
    text-align: justify;
}
#partners-art {
    border-right: 5px solid #b822e3;
}
#partners-corp {
    border-left: 5px solid #b822e3;
}
