$sidebar-width-reduced: 200px;

@media screen and (max-width: 1280px) {
    #sidebar {
        width: $sidebar-width-reduced;
        font-size: 14px;

        #sidebar-head {
            height: $sidebar-width-reduced;
        }
    }

    #content {
        padding-left: $sidebar-width-reduced;
    }
}

@media screen and (max-width: 1080px) {
    #content {
        font-size: calc(min(1.2vw, 3vh));
    }
}

@media screen and (max-width: 800px) {
    #sidebar {
        display: none;
        height: 75vw;
        width: 100vw;
        position: sticky;
        top: calc(1.6em + 5px - 75vw);

        #sidebar-head {
            height: 75vw;
        }

        >:not(#sidebar-head) {
            display: none;
        }
    }
    
    #content {
        padding-left: 0px;

        font-size: 3vw;

        > div {
            padding: 0px 3vw 2vh;

            h2 {
                font-size: 2.5em;
                line-height: unset;
                text-align: center;
            }
        }

        #skills {

            #skills-table {
                display: block;

                .skills-title {
                    padding: 0.2em 0px;

                    justify-content: center;
                }

                .skills-content {
                    margin-bottom: 0.7em;

                    justify-content: center;
                }
            }
        }

        #projects {
            
            #projects-grid {

                row-gap: 1em;

                .projects-category {
                    display: none;
                }

                .projects-item {
                    grid-column: 1 / span 2;
                }

                .projects-separator {
                    display: none;
                }
            }
        }
        
        #contact {

            #contact-form {
                display: block;
                padding: 0px;

                input, textarea {
                    margin-bottom: 1em;
                }

                textarea {
                    height: 10em;
                }
            }
        }
    }
}