@import "../fonts/Source_Sans_Pro/SourceSansPro";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0px;
    text-align: justify;
}

a {
    color: #000000;
    text-decoration: none;
                            
    border-bottom: 1px solid #00000000;
    transition: border-bottom 0.2s;
    
    &:hover {
        border-bottom: 1px solid #000000;
    }
}

.uses-icon-links {
    a {
        border: none;
        transition: color 0.1s;
    
        &:hover {
            color: #303030;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 0px;
    text-align: left;
}