@import "../fonts/Source_Sans_Pro/SourceSansPro";

body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0px;
    text-align: justify;
}

a {
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}